* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #ee1157;
  --primary-text: #767878;
  --primary-blue: #4d10d1;
  --primary-border: #ccc;
  --primary-hover: #300984;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

body header h1 {
  font-size: 3rem;
  color: var(--primary-color);
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 10px;
}

.home-text {
  flex: 2;
  margin-left: 5rem;
}

.home-text h2 {
  font-size: 3rem;
  margin: 0 auto;
  padding-top: 3rem;
  font-weight: 700;
  color: var(--primary-color);
}

.home-text p {
  color: var(--primary-text);
  padding-top: 1rem;
  margin: 0 auto;
  font-size: 1.2rem;
}

.home-form {
  margin-top: 6rem;
  margin-left: 16rem;
  flex: 2;
}

.container form {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}

form input[type="text"]:focus {
  outline: 0;
}

input {
  width: 392px;
  height: 48px;
  left: 536px;
  top: 481px;
}

input[type="text"] {
  width: 365px;
  height: 48px;
  left: 536px;
  top: 312px;
  margin: 15px 0;
  padding-left: 25px;

  border: 2px solid var(--primary-border);
  border-radius: 24px;
  color: var(--primary-text);
  font-size: 14px;
}

input[type="submit"] {
  width: 392px;
  height: 48px;
  left: 536px;
  top: 240px;
  border: 0;
  margin: 40px 0;

  background: var(--primary-blue);
  border-radius: 24px;
  color: white;
  font-size: 14px;
  transition: 1s;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: #300984;
}

form input[type="submit"] {
  box-shadow: rgba(242, 237, 109, 0001) 3px 3px 3px 3px;
}

footer h3 {
  font-size: 1.1rem;
  font-weight: normal;
  color: var(--primary-color);
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px) and (min-width: 500px) {
  .home-text {
    margin: 0;
  }
  .home-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    margin: 0;
  }
  footer {
    margin-bottom: 20px;
  }
}
